*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
body{
    background-color:black;
}
.torch{
    width:500px;
    height:200px;
    margin:50px;
    background-color:grey;
    box-shadow:20px 20px 40px red;
}
.torch>.btn{
    float:left;
    color:white;
    font-weight:bold;
    cursor:pointer;
    width:80px;
    height:80px;
    border-radius:100%;
    margin:40px 20px;
    border:0;
    outline:none;
}
.torch>.btn:hover{
    opacity:0.5;
}
#btn1{
    background-color:red;
}
#btn2{
    background-color:yellow;

}
#btn3{
    background-color:blue;
}
#btn4{
    background-color:green;
}
 .A{
    box-shadow:20px 20px 40px black;
 }
 .B{
    box-shadow:20px 20px 40px black;
 }
 .C{
    box-shadow:20px 20px 40px black;
 }
 .D{
    box-shadow:20px 20px 40px black;
 }

#reset{
width:200px;
height:100px;
margin:10px 200px;
border:0px;
outline:none;
font-weight:bold;
font-family:sans-serif;
font-size:20px;
display:none;
border-radius:5px;
}
#reset:hover{
    padding:10px;
    font-size:25px;
    transition-duration:0.5s;
    color:pink;
}


.reset{
    box-shadow:20px 20px 40px red;
}

